*{
    box-sizing:border-box;
    margin: 0
}

body {
  
}

.terran{
    background: rgb(38,46,72);
    background: linear-gradient(to right, rgba(38,46,72,1) 0%, rgba(84,110,148,1) 50%, rgba(136,152,143,1) 100%);
    background-attachment: fixed;
}

.zerg {
    background: linear-gradient(to top right, #3a0162 0%, #3E055A 30%, #7626B1 50%, #592821 70%, #6D1E1D 85%, #3B0600 100%);
    background-attachment: fixed;
}

.protoss{
    background: linear-gradient(to bottom right, rgb(34, 173, 238), rgba(170, 154, 9, 0.808) );
    background-attachment: fixed;
}

nav{
    border-bottom:3px solid black;
    display:flex;
    justify-content: space-between;

}

.invisibleBox {
    min-width: 250px;
}

.inputType {
    min-width: 250px;
}

.inputType li {
    list-style: none;
}

/* nav a, nav a:link, nav a:visited {
    color: #EDBB2C;
} */

a, a:link, a:visited {
    color: black;
    text-decoration: none;
}

#raceSelector{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 25px;
    margin-right: 36px;
}

#terranSelector {
    color: blue;
}

#zergSelector {
    color: #7626B1;
}

#protossSelector {
    color: rgba(204, 185, 17, 0.808);
}

.selected {
    animation-duration: 1s;
    animation-name: selectedAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    animation-play-state: running;
}

    @keyframes selectedAnimation{
        from{
            font-size: 1em;
        } to {
            font-size: 2em;
        }
    }

.notSelected {
    animation-duration: 1s;
    animation-name: notSelectedAnimation;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

    @keyframes notSelectedAnimation{
        from{
            font-size: 2em;
        } to {
            font-size: 1em;
        }
    }


/* The Following Styles Apply for the User Inputs*/
.buildMaker{

    display: grid;   
    justify-content: center;
    max-height: 200px;
    grid: "typeSelector"
          "userInputs " 
}

.fromJson{
    justify-content: center;
    max-width: max-content;
    display: none;
    flex-direction: column;
    align-items: center;
    /* min-height: 500px; */
}

#jsonEntry{
    background-color:lightblue;
    justify-self: center;
}

.jsonLabel{
    color:white;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}

#inputHeader{
    justify-self:center;
    text-align: center;
    margin-top: 10px;
}

.typeSelector{
    justify-self: center;
    margin-bottom: 25px;
    grid-area: "typeSelector"
}

.userInputs{
    grid-area: 'userInputs';
    display: grid;
    row-gap: 3px;
    max-width: 375px;
    min-width: 250px;
    grid-template-columns: 75% 25%;
    background-color:lightblue;
    border-color:grey;
    border-style: outset;
}

#objectSelector{
    grid-column-start: 1;
    grid-column-end: 3;
}

#minuteSelector, #secondSelector, #supplySelector{
    margin-right: 1px;
}

/*Styles for placeholder buttons */
.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

/* Build Figures */

#figureWrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;   
}

#counterContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* min-width: 250px; */
    justify-content: space-evenly;
    margin-top: 0;
    max-width: 75%;
    gap: 10px;
    border: 1px solid;
}

#counterContainer figure {
    display: flex;
    flex-direction: column;
    flex: wrap;
    max-width: 100px;
}

#counterContainer img{
    border-radius: 4px;
    border-style: ridge;
    border-color: grey;
}

/* Styles for the data table for the build*/
.buildOrderList{
    justify-content: center;
    display: flex;
}

.buildOrderList table {    
    min-width: 150px;
    border-style: outset;
}

.buildOrderList tr {
    background-color: lightblue;
    text-align: center;
    
}

.buildOrderList th {
    margin-left: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    min-width: 150px;
}
/* These styles will apply to my countdown icons (figure/figcaptions) */

figure {
    text-align: center;
    max-width: fit-content;
}

figure.showing figcaption{
    color:rgb(16, 236, 16);
}

figure img{
    height: 100px;
    width: 100px;
}

figure.goAway figcaption{
    color:rgb(248, 17, 17);
}

figure.goAway{
    animation-duration: 5s;
    animation-name: disappear;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

    @keyframes disappear {
        from {
            opacity: 100%
        } to {
            opacity: 0%
        }
    }


.hide {
    animation-duration: 1s;
    animation-name: shrinkAndDisappear;
    animation-play-state:running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

    
@keyframes shrinkAndDisappear {
    from {
        opacity: 100%;
        transform: scale(1);
        
    } to {
        opacity: 0;
        transform:scale(0);
    } 
}



