#counterContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0;
    max-width: 50%
}


.buttonContainer {
    display: flex;
    flex-direction: row;
}

.typeSelector{
    margin-bottom: 25px;
}

/* These styles will apply to my countdown icons (figure/figcaptions) */

figure {
    text-align: center;
    max-width: fit-content;
}

figure img{
    height: 100px;
    width: 100px;
}