.userInputs{
    display: grid;
    max-width: 400px;
    min-width: 300px;
    grid-template-columns: 75% 25%;
    background-color:lightgreen;

}

#objectSelector{
    grid-column-start: 1;
    grid-column-end: 3;
}
#counterContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0;
    max-width: 75%
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.typeSelector{
    margin-bottom: 25px;
}

#minuteSelector, #secondSelector, #supplySelector{
    max-width: 50px;
}

/* These styles will apply to my countdown icons (figure/figcaptions) */

figure {
    text-align: center;
    max-width: fit-content;
}

figure img{
    height: 100px;
    width: 100px;
}

.buildOrerList table {
    min-width: 150px;
}

.buildOrderList tr {
    background-color: lightblue;
    text-align: center;
}

.buildOrderList th {
    margin-left: 20px;
    text-align: center;
    align-items: center;
    align-self: center;
    min-width: 150px;
}

a:visited{
    color:red;
}

a:active{
    color:red;
}